
:root{
    --color-main: #043287;
    --color-white: #ffffff;
    --color-pink: #FF005B;
    --color-green: #0BDF7C;
    --color-orange: orange
}
/* general */
body {
    counter-reset: section;
  }
.m_container{
    max-width: 1200px;
    margin: auto;
}
.m_container_1300{
    max-width: 1300px;
}
.container_full{
    width: 100%;
}
.pad-0{
    padding: 0;
}
.title_sidebar_first{
    color: #777;
    transform: skewX(-15deg);
    font-size: 1.3em;
    padding: 10px 15px;
    margin: auto 0;
    cursor: pointer;
}
.title-scale-post{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.title-scale-post span{
    margin: auto;
    background-color: var(--color-pink);
    color: var(--color-white);
    padding: 10px;
    transform: skewX(-15deg);
}
.title-scale-post::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #222;

}
.title-scale-post-default{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    text-transform: uppercase;
    cursor: pointer;
}
.title-scale-post-default span{
    margin: auto 2px;
    background-color: var(--color-pink);
    color: var(--color-white);
    padding: 10px 15px;
    transform: skewX(-15deg);
}
.content_img img{
    width: 100%;
    object-fit: cover;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    transition: all .23s;
}
.content_img:hover{
    -webkit-filter: brightness(60%);
    filter: brightness(80%);
    transition: all .23s;
}
.square_ad{
    width: 100%;
    height: 240px;
    border: 1px solid #bbb;
    margin-bottom: 20px;
}
.square_ad_height{
    width: 100%;
    height: 480px;
    border: 1px solid #bbb;
    margin-bottom: 20px;
}
.margin-bottom-0{
    margin-bottom: 0!important;
}
.margin-bottom-20{
    margin-bottom: 20px!important;
}
.margin-top-0{
    margin-top: 0!important;
}
.b-top-bottom{
    border-top: 1px solid #999!important;
    border-bottom: 1px solid #999!important;
}
.b-top{
    border-top: 1px solid #ccc!important;
}
.m-top-bottom-5{
    margin: 5px 0!important;
}
.title-larger{
    color: var(--color-main);
    font-size: 5em;
}
.m-top-20{
    margin-top: 20px!important;
}
.m-bottom-20{
    margin-bottom: 20px!important;
}
.color-green{
    color: var(--color-green);
}
.color-orange{
    color: var(--color-orange);
}
.h-300{
    height: 300px!important;
}
.h-400{
    height: 400px!important;
}
.h-250{
    height: 250px!important;
}
.m-top-bottom-20{
    margin: 20px auto;
}
.pad-left-right-0{
    padding-left: 0;
    padding-right: 0;
}
/* general */



header.header{
    
}
.header_top{
    background-color: var(--color-main);
    padding: 15px 10px;
}
ul.header_social{
    display: flex;
    align-items: center;
    height: 100%;
}
ul.header_social li{
    font-size: 1.2em;
    display:flex;
    align-items: center;
    justify-content: center;
}
ul.header_social li a{
    color: var(--color-white);
    background: rgba(255,255,255,.15);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    text-decoration: none;
}
ul.header_social li a i{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



.header_bottom{
    padding: 0 10px;
}
ul.menu_full{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}
ul.menu_full li{
    display: flex;
    align-items: center;
}
ul.menu_full li a{
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: 15px 10px;
    position: relative;
}
ul.menu_full li a:hover::after{
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-main);
}


/* button menu */
.col-btn-toggle{
    display: flex;
    justify-content: flex-start;
}
.btn_toggle{
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 32px;
    height: 20px;
    cursor: pointer;
}
.btn_toggle .rec{
    display: block;
    width: 100%;
    height: 20%;
    margin: 2px 0;
    background-color: #222;
}
.btn_toggle:hover .rec{
    background-color: var(--color-main);
}
.btn_toggle .rec:nth-child(2){
    width: 75%;
}
.btn_toggle .rec:nth-child(3){
    width: 50%;
}
/* button menu */


.double_col_first{
    padding: 0;
}
.search_header{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.search_header span{
    width: 32px;
    display: flex;
    cursor: pointer;
}
.search_header span i{
    margin: auto;
    font-size: 1.2em;
    font-weight: bolder;
}


.section_first_content{
    padding: 10px;
}

.more_read{
    margin: auto;
    max-width: 100%;
}
.card_read_more{
    width: 100%;
    margin: 10px 0;
}
.card_read_more a{
    text-decoration: none;
}
.card_read_more .img_card{
    max-height: 145px;
    overflow: hidden;
    text-align: center;
}
.card_read_more .img_card img{
    width: 100%;
    transition: all .23s;
}
.col_more_read{
    padding-left: 10px;
    padding-right: 10px;
}
.card_read_more_info{
    display: flex;
}
.card_read_more_info .count_post_more{
    width: 15%;
}

.card_read_more_info .card_read_more_text{
    width: 85%;
}
.card_read_more_text span{
    font-size: .8em;
    color: #888;
    font-weight: 600;
}
.card_read_more_text h3{
    font-size: 1em;
    color: #222;
}
.card_read_more:hover span, .card_read_more:hover h3{
    color: #888;
    transition: all .3s;
}
.card_read_more:hover img{
    filter: brightness(80%);
}
.card_read_more .card_read_more_info .count_post_more::before {
    counter-increment: section;
    content: counter(section);
    font-size: 2.2em;
    font-weight: 700;
    display: inline-block;
    color: #bbb;
    padding: 15px;
    margin-right: 16px;
    border-radius: 50%;
}


.sidebar_first_section{
    padding-left: 10px;
    padding-right: 10px;
}



/* second section */
.post_destaque{
    padding-left: 10px;
    padding-right: 10px;
}
.card_post_destaque{
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.card_post_destaque:hover img{
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
}
.card_post_destaque img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    transition: all .23s;
}
.card_post_destaque_info, .card_section_second_info{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    color: var(--color-white);
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1));
}
.card_post_destaque_info p, .card_section_second_info_top p{
    margin-bottom: 0;
    font-size: 1em;
    line-height: 1.3em;
}
.card_post_destaque_info h3{
    font-size: 1.2em;
}
.card_post_destaque:nth-child(1){
    height: 380px;
}
.card_post_destaque:nth-child(1) img{
    height: 100%;
}
.categoria_card_info{
    color: var(--color-green);
}
.card_destaque_col{
    height: 240px;
    position: relative;
    margin-bottom: 10px;
    transition: all .23s;
}
.card_destaque_col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_destaque_col_info{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    color: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 20px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1));
}
.card_destaque_col:hover img{
    filter: brightness(80%);
}
.card_destaque_col_info h3{
    font-size: 1.4em;
    width: 100%;
}
.categoria_card_col{
    text-transform: uppercase;
    position: relative;
    padding: 5px 0;
}
.categoria_card_col::after{
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
    margin-top: 10px;
}
.card_destaque_col_text{
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
}
.card_destaque_col_text a{
    text-decoration: none;
}
.card_destaque_col_text h3{
    color: #222;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.card_destaque_col_text p{
    line-height: 1em;
    color: #333;
    font-weight: 300;
}
.card_destaque_col_text:hover p, .card_destaque_col_text:hover h3{
    color: #555;
}
/* second section */

.section_post_four{
    margin: 20px auto;
}

.card_destaque_col_height{
    min-height: 500px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}
.card_destaque_col_height img{
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .23s;
}
.card_destaque_col_height:hover img{
    filter: brightness(80%);
}


/* sidebar sidebar first */
.header_sidebar_first{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}
.card_sidebar_first_section{
    display: flex;
    margin: 5px 0;
}
.card_sidebar_first_section:hover h3{
    color: #666;
}
.card_sidebar_first_section:hover img{
    filter: brightness(80%);
}
.card_sidebar_first_section a{
    width: 100%;
    display: flex;
    text-decoration: none;
}
.card_sidebar_first_section .thumb_card_sidebar_first{
    display: block;
    width: 30%!important;
    height: 100%;
    margin-right: 10px;
}
.card_sidebar_first_section .thumb_card_sidebar_first img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    transition: all .23s;
}
.card_side_first_info{
    width: 70%;
}
.card_side_first_info h3{
    font-size: 1em;
    color: #000;
    transition: all .23s;
}
.card_side_first_info_top{
    font-size: .8em;
    color: #888;
}
/* sidebar sidebar first */


.sctions_sidebar{
    display: none;
    opacity: 0;
    transition: all .23s;
}
.sctions_sidebar_active{
    display: block;
    opacity: 1;
    transition: all .23s;
}




/* section second */
.section_second_top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card_section_post_top{
    margin: 20px 0;
    position: relative;
}
.card_section_post_top a img{
    width: 100%;
    transition: all .23s;
    filter: brightness(90%);
}
.card_section_post_info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    color: var(--color-white);
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1));
}

.section_second_bottom{
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
    padding-left: 0px;
}
.card_section_post_bottom:hover h3{
    color: #888;
}
.section_second_bottom a{
    text-decoration: none;
}
.card_section_post_bottom{
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
}
.card_section_post_bottom img{
    width: 100%;
    height: 165px;
    object-fit: cover;
    transition: all;
}
.card_section_post_bottom h3{
    font-size: 1.2em;
    color: #222;
    transition: all .23s;
}
.card_section_post_bottom p{
    font-size: .9em;
    color: #000!important;
    line-height: 1.4em;
    margin-bottom: 0;
    margin: 1px 0;
}

.card_section_post_top:hover img, .card_section_post_bottom:hover img{
    filter: brightness(80%);
}



/* section vídeo */
.section_video{
    background-color: #000;
    padding: 40px 10px;
    max-width: calc(1300px - 30px);
}
.section_video_content{

}
.card_video_larger{
    position: relative;
    height: 480px;
    overflow: hidden;
}
.card_video_larger:hover img{
    filter: brightness(80%);
}
.card_video_larger img{
    height: 100%;
    object-fit: cover;
    transition: all .23s;
}
.card_video_larger_info{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    color: var(--color-white);
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1));
}
.play{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-green);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.play i{
    font-size: 2em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card_video_little{
    width: 100%;
    height: 25%;
    overflow: hidden;
}
.card_video_little a{
    display: flex;
    text-decoration: none;
}
.card_video_little_thumb{
    width: 40%;
    height: 100%;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}
.card_video_little_thumb img{
    width: 100%;
    height: 90px;
    transition: all .23s;
    object-fit: cover;
}
.card_video_little:hover img{
    filter: brightness(80%);
}
.card_video_little:hover h3{
    color: #ccc;
    transition: all .23s;
}
.card_video_little_text{
    width: 60%;
}
.card_video_little_text p{
    margin-bottom: 0;
    font-size: .9em;
    color: #888;
}
.card_video_little_text h3{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.1em;
    color: var(--color-white);
}
.card_video_little_thumb .play{
    width: 24px;
    height: 24px;
    top: 10px;
    left: 10px;
}
.card_video_little_thumb .play i{
    font-size: 1em;
}
/* section vídeo */


.more_news{
    margin: 20px 0;
}
.card_more_news{
    width: 90%;
    border-top: 1px solid #ccc;
}
.card_more_news:hover img{
    filter: brightness(80%);
}
.card_more_news:hover h3{
    color: #777;
}
.card_more_news a{
    width: 100%;
    display: flex;
    text-decoration: none;
}
.card_more_news_thumb{
    width: 40%;
    height: 180px;
    margin-right: 20px;
    overflow: hidden;
}
.card_more_news_thumb img{
    width: 100%;
    transition: all .23s;
}
.card_more_news_text{
    width: 60%;
    padding-top: 20px;
}
.card_more_news p, .card_more_news h3{
    color: #111;
    transition: all .23s;
}
.card_more_news p{
    color: #333;
    line-height: 1.2em;
    font-weight: 300;
}
.nav_links{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.nav_links .pagination span{
    border: 1px solid #ccc;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 8px;
    color: #999;
    display: flex;
    align-items: center;
}
.nav_links .pagination .active{
    background-color: #ccc;
    color: var(--color-white);
}
.nav_links .pagination a{
    border: 1px solid #ccc;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 8px;
    color: #999;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-content: center;
}
.nav_links .pagination a:hover{
    background-color: #ccc;
    color: var(--color-white);

}

/* footer */
footer.footer{
    background-color: var(--color-main);
}
.footer_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 40px 10px;
}
.footer_logo, .footer_social{
    width: 100%;
    text-align: center;
}
.footer_social ul.list_social_footer{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
ul.list_social_footer li{
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.list_social_footer li a {
    color: var(--color-white);
    background: #333;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    text-decoration: none;
}
.footer_bottom{
    background-color: #000;
    color: #bbb;
    text-align: center;
    padding: 20px 10px;
}
.footer_bottom p{
    margin-bottom: 0;
}
/* footer */



/* menu over */
.menu_over{
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 100;
    cursor: pointer;
    transition: all .23s;
}
.menu_over_active{
    display: block;
    opacity: 1;
    transition: all .3s;
}
.menu_sidebar{
    position: absolute;
    top: 0;
    left: -370px;
    max-width: 370px;
    height: 100%;
    background-color: var(--color-main);
    cursor: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    transition: all .3s;
}
.menu_sidebar_open{
    left: 0;
}
.menu_sidebar_close{
    animation: closeMenu .3s forwards;
}
.close_over_menu{
    animation: closeOverMenu .3s forwards;
}
@keyframes closeMenu {
    to{
        left: -370px;
    }
}
@keyframes closeOverMenu {
    to{
        opacity: 0;
    }
}
.menu_sidebar_top{
    width: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
}
.menu_sidebar_top img{
    width: 120px;
    height: auto;
    image-rendering: auto;
}
.close_menu_full{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.close_menu_full i{
    color: var(--color-white);
    font-size: 1.4em;
}
.nav_menu_full .menu_list_full{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    overflow: auto;
}
.menu_list_full li{
    display: flex;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255,255,255,.15);
}
.menu_list_full li a{
    width: 100%;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
}
.sidebar_menu_social{
    margin-bottom: 20px;
}
.sidebar_menu_social h5{
    width: 100%;
    text-align: center;
    color: var(--color-white);
    font-size: 1em;
    font-weight: 300;
}
.sidebar_menu_social{
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
.sidebar_menu_social ul.header_social{
    display: flex;
}
.sidebar_menu_social ul.header_social li{
    font-size: 1em;
    display: flex;
    align-items: center;
}
.sidebar_menu_social ul.header_social li a{
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
}
/* menu over */



@media(max-width: 1024px){
    nav.nav{
        display: none;
    }
    .col_header_logo{
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    ul.header_social{
        display: none;
    }
    .header_logo_link{
        text-align: center;
        width: 100%;
    }
    .header_logo_link img{
        width: 100px;
        image-rendering: optimizequality;
    }
    header.header{
        position: relative;
        margin-bottom: 15px;
    }
    .col-btn-toggle{
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .btn_toggle .rec{
        background-color: var(--color-white);
    }
    .btn_toggle:hover .rec{
        background-color: var(--color-white);
    }
    .search_header{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .search_header span i{
        color: var(--color-white);
    }
}

@media(max-width: 992px){
    .more_read_content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .card_destaque_col_height{
        margin-bottom: 20px;
        min-height: unset;
        height: 380px;
    }
    .card_destaque_col_height img{
        width: 100%;
    }
    .card_destaque_col_info h3{
        font-size: 1.6em;
    }
    .card_destaque_col_text{
        margin: 20px 0;
    }
    .square_ad_height{
        height: 380px;
    }
    .card_video_larger{
        margin: 20px 0;
    }
    .card_video_larger img{
        width: 100%;
    }
    .card_video_little{
        margin: 20px 0;
        height: 220px;
    }
    .card_video_little_text h3{
        font-size: 1.4em;
    }
    .card_destaque_col{
        height: 280px;
    }
    .h-250{
        height: 300px!important;
    }
    .card_read_more{
        height: 300px;
        margin: 20px 0;
    }
    .card_read_more .img_card{
        max-height: 220px;
    }
    .card_read_more_text h3{
        font-size: 1.5em;
    }
    .card_video_little_thumb img{
        height: 180px;
    }
    
}

@media(max-width: 768px){

}

@media(max-width: 600px){
    .card_video_larger{
        height: 380px;
    }
    .card_video_little{
        height: 180px;
    }
    .card_destaque_col_height{
        height: 320px;
    }
    .title-larger{
        font-size: 3em;
    }
    .card_more_news{
        margin: 20px 0;
    }
    .card_more_news p{
        font-size: .9em!important;
    }
    .card_more_news p, .card_more_news h3{
        font-size: 1.2em;
    }
    .card_video_little_thumb img{
        height: 120px;
    }
    .nav_links .pagination span{
        padding: 2px;
        font-size: .9em;
    }
    .nav_links .pagination a, .nav_links .pagination .active{
        display: flex;
        align-items: center;
        font-size: .9em;
        padding: 2px 5px;
    }
    .pagination{
        flex-wrap: wrap;
    }
    .menu_sidebar_open{
        max-width: 100%;
    }
    .menu_list_full li{
        padding: 4px 0;
    }
    .menu_list_full li a{
        font-size: .9em;
    }
}

@media(max-width: 420px){
    .card_post_destaque:nth-child(1){
        height: 280px;
    }
    .card_post_destaque_info p, .card_section_second_info_top p{
        font-size: .9em;
        font-weight: 300;
    }
    .card_destaque_col, .card_destaque_col_height{
        height: 250px;
    }
    .card_destaque_col_info h3, .card_destaque_col_text h3{
        font-size: 1.3em
    }
    .card_destaque_col_text{
        margin: 10px 0;
    }
    .card_destaque_col_text p{
        margin-bottom: .5rem;
    }
    .title-larger{
        font-size: 2.2em;
    }
    .card_video_larger{
        height: 280px;
    }
    .card_video_larger_info{
        width: 100%;
    }
    .card_video_larger_info h3{
        font-size: 1.2em;
    }
    .card_video_little_text h3{
        font-size: 1.1em;
        line-height: 1.3em;
    }
    .card_video_little_text p{
        margin-bottom: 10px;
    }
    .card_video_little_thumb img{
        height: 100px;
    }
    .card_video_little{
        margin: 10px 0;
    }
    .pad-left-right-0-mobile{
        padding-left: 0;
        padding-right: 0;
    }
    .card_more_news_text{
        padding-top: 5px;
    }
    .card_more_news h3{
        font-size: 1em;
    }
    .card_more_news p{
        margin-bottom: 0;
    }
    .card_more_excerpt{
        display: none;
    }
    .pagination{
        justify-content: center;
    }
    .card_read_more{
        height: unset;
        min-height: 280px;
    }
    .card_read_more .img_card img{
        height: 180px;
    }
    .footer_logo img{
        width: 100%;
    }
}